__pycache__/Agente.cpython-39.pyc
Principal.py
__pycache__/EstadoQuadrado.cpython-39.pyc
__pycache__/PosXY.cpython-39.pyc
__pycache__/PontosCardeais.cpython-39.pyc
__pycache__/Util.cpython-39.pyc
__pycache__/Ambiente.cpython-39.pyc
